        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }



        body {
            background-image: url("img/Path\ 15.png");
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
            background-repeat: no-repeat;
            background-size: 100vw;



        }

        form {
            display: block;
            direction: rtl;
            margin-right: 15px;
        }

        label {
            display: block;
            font-size: 1.3rem;
            color: white;
            direction: rtl;
            text-align: right;
            font: normal normal bold 16px/24px heebo;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
        }


        div {
            margin: 15px;

        }

        input {
            height: 33px;
            width: 300px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #D31C75;
            opacity: 1;
        }

        input[type=submit] {
            width: 90px;
            padding: 5px;
            color: #fff;
            background-color: #D31C75;
            font-size: 1rem;
            font-weight: bold;
            font-family: Heebo;

        }

        section {
            background-color: black;
            opacity: 0.7;
            width: 400px;
            height: 450px;
            margin: 70px;

        }

        h1 {
            text-align: center;
            color: #fff;
            margin: 15px;
            padding: 15px;
            font-size: 30px;
            font-weight: bold;
            font-family: Heebo;
        }



        p {
            color: #fff;
            margin: 15px;
            padding: 15px;
            direction: rtl;
            font: normal normal normal 18px/29px Heebo;
            line-height: 1.3;
            text-align: center;
            justify-content: center;



        }



        @media screen and (max-width:600px) {

            body {
                background-image: url("img/Path\ 15.2.png");
            }

            section {
                width: 80vw;
                height: 90vh;

            }

            h1 {
                font-size: 30px;
                padding: 10px;

            }

            p {
                font-size: 18px;
                padding: 5px;
            }

            input {
                width: 280px;
            }


        }