* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5EEFF;

}

.container {
    width: 95vw;
    justify-content: center;

    margin: 20em auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 15px;
}

.item {
    width: 200px;
    height: 200px;
}

.item3 {
    grid-column: 3/5;
    grid-row: 1/3;
    background: #020253 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item3>h1 {
    text-align: center;
    font: normal normal bold 61px/80px Assistant;
    letter-spacing: 0px;
    color: #0EE1DA;
    opacity: 1;
}

.item3>p {
    text-align: center;
    font: normal normal normal 20px/26px Assistant;
    letter-spacing: 0px;
    color: #F9F9F9;
    opacity: 1;


}

.item10 {
    grid-column: 1/3;
    grid-row: 4/7;
    background: #8E097C;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item10>h1 {
    text-align: center;
    font: normal normal bold 35px/46px Assistant;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.item10>p {
    text-align: center;
    font: normal normal normal 20px/26px Assistant;
    letter-spacing: 0px;
    color: #F9F9F9;
    opacity: 1;
    margin-top: 50px;
}

.item10>form {
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 20px;
}

.form-control>label {
    font: normal normal bold 16px/24px Heebo;
    letter-spacing: 0px;
    color: #0EE1DA;
    opacity: 1;
}

.form-control>input {
    width: 40vw;
    height: 8vh;
    border-bottom: 4px solid #0EE1DA;
}

.form-control>textarea {
    width: 40vw;
    height: 30vh;
}

input[type="submit"] {
    background: #0EE1DA 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 40vw;
    height: 6vh;
    border: none;
    text-align: center;
    font: normal normal bold 24px/33px Heebo;
    color: #011560;
    opacity: 1;
}

@media screen and (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(12, 200px);
        gap: 15px;
    }

    .item3 {
        grid-column: 1/3;
        grid-row: 1/3;
        text-align: center;
    }

    .item3>p {
        width: 10em;
    }

    .item10 {
        grid-column: 1/3;
        grid-row: 7/10;

    }

    .item10>p {
        margin: 0;
        width: 15em;
        height: 1em;
    }


    .form-control>input {
        width: 25em;
        height: 2.5em;
    }

    .form-control>textarea {
        width: 25em;
        height: 8em;
    }

    input[type="submit"] {
        width: 13.9em;
    }

}