* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    border-top: 4px solid aqua;
    top: 0;
    position: fixed;
    background-color: #fff;
    z-index: 1000;
}

.nav-bar-name>a>p {
    font-family: 'satisfy';
    text-decoration: none;
    font-size: 2em;
    color: #000;
    margin-left: 1em;
    margin-top: 0.5em;

}

.nav-bar-name>a {
    text-decoration: none;
}

.nav-bar-pic>a>img {
    width: 4em;
    height: 4em;
    border-radius: 100%;
    margin-left: 1em;
    margin-top: 0.5em;
}

.top {
    width: 100vw;
    height: 250px;
    background-color: #13E8F163;
    text-align: center;
    font-family: 'heebo';

}

.headline {
    height: 200px;
    margin-top: 80px;
    direction: rtl;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.a {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 25px;
}

.a>a {
    text-decoration: none;
    width: 8em;
    height: 1.5em;
    font-size: 15px;
    font-weight: bold;
    color: #2C2C2C;
    background: #1AE0EC 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
    margin: auto;

}

.bottom {
    width: 100vw;
    height: 1000px;
    background-color: #dadada;
    top: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img>img {
    width: 60em;
    height: 30em;
    margin: auto;
}

.footer {
    background-color: #000;
    height: 50px;
    width: 98.8vw;
    font-family: 'heebo';
    color: #1AE0EC;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.right {
    direction: rtl;
    right: 0;
    position: absolute;
}

.left {
    position: ltr;
}

@media screen and (max-width: 600px) {
    .bottom {
        height: 20em;
    }

    .img>img {
        width: 20em;
        height: 10em;
    }

    .footer {
        width: 100vw;
        text-align: center;
        margin: auto;
    }

    .footer {
        font-size: 1em;
    }
}